@font-face {
	font-family: 'vazir';
	src: url('fonts/Farsi-Digits/Vazir-Light-FD.eot');
	src: url('fonts/Farsi-Digits/Vazir-Light-FD.eot');
	src: url('fonts/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
				url('fonts/Farsi-Digits/Vazir-Light-FD.woff2') format('woff2'),
				url('fonts/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
				url('fonts/Farsi-Digits/Vazir-Light-FD.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'vazir' !important;
}
